body{
    text-align: center;
    align-items: center;
    background-color: rgb(169, 165, 217);

}
.box-px{
    width: 200px;
    height: 150px;
    background-color:lightblue;
    margin: auto; 
    /* padding-top: 60  px ; */
    /* text-align: center; */
    font-size: xx-large;
    

}
.box-percent{
     width: 50%;
    height: 100px;
    background-color:lightgreen;
    margin: auto; 
    /* padding-top: 60  px ; */
    /* text-align: center; */
    font-size: xx-large;
    margin-top:10px;
    

}
.parent{
     font-size: 20px;

}
.text-em{
    font-size: 1.5em;
}
.text-rem{
    font-size: 2rem;
}
.viewport-box{
    width: 50vw;
    height: 30vh;
    background-color: peachpuff;
    margin: auto;

}
.viewport-title{
    font-size: 5vmin;
    margin-top: 3vmax;
}
.limit-box{
       width: 90%;
       max-width: 300px;
       height: auto;
       max-height: 200px;
       background:lightgray;
       margin: auto;
}
.ch-text{
    width: 50ch;
    font-size: 16px;
    background-color: #f9f9f9;
    padding: 10px;
    margin: auto;
}